[submodule "vendor/qunit-assert"]
	path = vendor/qunit-assert
	url = https://github.com/pscheit/qunit-assert
[submodule "vendor/esprima"]
	path = vendor/esprima
	url = git@github.com:ariya/esprima.git
