[submodule "vendor/qunit-assert"]
	path = vendor/qunit-assert
	url = git://github.com/pscheit/qunit-assert.git
[submodule "vendor/esprima"]
	path = vendor/esprima
	url = git://github.com/ariya/esprima.git
[submodule "vendor/chai"]
	path = vendor/chai
	url = git@github.com:chaijs/chai.git
[submodule "vendor/mocha"]
	path = vendor/mocha
	url = git@github.com:visionmedia/mocha.git
